<a href="#" id="show_items">
  <button type="button" class="btn btn-info btn-lg btn-block"><h3>1- Click to Add Items Details!</h3></button><br>
</a>
<div id="items" class="hidden">
  <div class="container" style= 'background-color: #F0FFFF'><br>
    <%= form_for [@person, @person.goods.build] do |f| %>
      <div class="container">
              <div class="row">
                <div class="col-sm">
                <%= f.label :item %>
                  <%= f.select :item, [ 'SELECT ITEM','BedRomm', 'Sofa', ['Loveseat'], ['Chair']] %>
                </div>
                <div class="col-sm">
                  <%= f.label :qnt %><br>
                  <%= f.select :qnt, [0,1,2,3,4,5,6,7,8,9,10,11,12] %>
                </div>
                <div class="col-sm">
                  <%= f.label :description %>
                  <%= f.text_field :description %>
                </div>
                <div class="col-sm">
                  <%= f.label :price %>
                  <%= f.text_field :price %>
                </div>
                <div class="col-sm">
                <%= f.label :vendor %><br>
                  <%= f.select:vendor, [ 'SELECT VENDOR','Titanic', 'United', ['Coaster'], ['Other']] %>
                </div>
                <div class="col-sm">
                <%= f.label :cost %>
                  <%= f.text_field :cost %>
                </div>
                <div class="col-sm"><br>
                  <div class="actions">
                    <button class="btn btn-success btn-lg btn-block " type="submit"><h3> Click here to ADD New Item!</h3></button>
                  </div><br>
                </div>
              </div>
            </div>
    <% end %>
  </div><br>
</div><br>
